<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="actuseries.android.com.actuseries" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.ListSeriesActivity" />

        <activity
            android:name=".activities.SignUpActivity"
            android:parentActivityName=".activities.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="actuseries.android.com.actuseries.activities.LoginActivity" />
        </activity>

        <activity
            android:name=".activities.ListEpisodesActivity"
            android:parentActivityName=".activities.ListSeriesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="actuseries.android.com.actuseries.activities.ListSeriesActivity" />
        </activity>

        <activity
            android:name=".activities.DetailEpisodeActivity"
            android:parentActivityName=".activities.ListEpisodesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="actuseries.android.com.actuseries.activities.ListEpisodesActivity" />
        </activity>
    </application>

</manifest>
